body {
  gap: 50px;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-inline: 34%;
  height: 100vh;
  font-family: "Fjalla One", sans-serif;
  justify-content: center;
  align-items: center;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);
svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}
.text-copy:nth-child(1){
  stroke: #ff0000;
  animation-delay: -1;
}
.text-copy:nth-child(2){
  stroke: #fa0000;
  animation-delay: -2s;
}
.text-copy:nth-child(3){
  stroke: #020202;
  animation-delay: -3s;
}
.text-copy:nth-child(4){
  stroke: #ff0000;
  animation-delay: -4s;
}
.text-copy:nth-child(5){
  stroke: #000000;
  animation-delay: -5s;
}
@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}
.banner {
  margin: auto;
  display: block;
}
#bye, #intro, .selector, #flameline1, #flameline2, #flameline3, #flamelinefinal, #stoneline1, #stoneline2, #stoneline3, #stonelinefinal,#insectline1,#insectline2,#insectline3,#insectlinefinal, #snakereject, #waterreject, #soundreject, #windreject, #lovereject, #mistreject, #failure{
  display : none;
} 
#flameline1 img {
  margin: auto;
  display: block;
}
#flameline2 img {
  margin: auto;
  display: block;
}
#flameline3 img {
  margin: auto;
  display: block;
}
#flamelinefinal img {
  margin: auto;
  display: block;
}
#stoneline1 img {
  margin: auto;
  display: block;
}
#stoneline2 img {
  margin: auto;
  display: block;
}
#stoneline3 img {
  margin: auto;
  display: block;
}
#stonelinefinal img {
  margin: auto;
  display: block;
}
#insectline1 img {
  margin: auto;
  display: block;
}
#insectline2 img {
  margin: auto;
  display: block;
}
#insectline3 img {
  margin: auto;
  display: block;
}
#insectlinefinal img {
  margin: auto;
  display: block;
}
#snakereject img {
  margin: auto;
  display: block;
}
#waterreject img {
  margin: auto;
  display: block;
}
#soundreject img {
  margin: auto;
  display: block;
}
#windreject img {
  margin: auto;
  display: block;
}
#lovereject img {
  margin: auto;
  display: block;
}
#mistreject img {
  margin: auto;
  display: block;
}
.card-img-top {
  height: 25vh;
  width: 25vh;
  align-content: center;
}
.introContinue {
  animation: burn 1000ms ease-out infinite;
}
@keyframes burn 
{
    0%
    {
      color: #ff826e;
      background: #ffe66e;
      box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8),
                  0 0 5px 0 rgba(230, 230, 10, 0.6),
                  0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8),
                  0 0 5px rgba(230, 230, 10, 0.6);
    }
    100%
    {
      color: #000;
      background: #fff;
      box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0),
                  0 -30px 30px 10px rgba(230, 30, 10, 0),
                  0 -20px 10px 0 rgba(255, 255, 10, 0),
                  0 -35px 40px 30px rgba(255, 130, 10, 0),
                  0 -30px 30px 10px rgba(230, 30, 10, 0),
                  0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--colorShadeA);
  font-weight: 700;
  font-family: inherit;
}

#idCheck {
  margin-top: 20%;
}

#yes18 {
  margin: 5%;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:  #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#failure {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 40px;
}
#failure span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}