h1 {
  color: rgb(253, 0, 0);
}

.flameline1 {
  display : none;
}

.flameline2 {
  display : none;
}

.flameline3 {
  display : none;
}

.flamelinefinal {
  display : none;
}

.stoneline1 {
  display : none;
}

.stoneline2 {
  display : none;
}

.stoneline3 {
  display : none;
}

.stonelinefinal {
  display : none;
}

.card-img-top {
  height: 25vh;
  width: 25vh;
}